<% flash.each do |name, message| %>
  <%= message %>
<% end %>

<a href="/client/products/new">Create a new product</a>

<% @products.each do |product| %>
  <p>id: <%= product['id'] %></p>
  <p>name: <a href="/client/products/<%= product['id'] %>"><%= product['name'] %></a></p>
  <p>price: <%=  product['price'] %></p>
  <p>image_url: <%=  product['image_url'] %></p>
  <p>description: <%=  product['description'] %></p>
  <hr>
<% end %>

